<section>
  <div class="grid">
    <div class="col-12">
      <div class="header grid">
        <div class="title col-6">
          <h1>Shopping</h1>
        </div>
        <div class="redirect col-6">
          <p-button class="button_login" label="Entre" (click)="redirectToLogin()"></p-button>
          <p-button label="Cadastre-se" (click)="redirectToRegister()"></p-button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="list_product grid">
        <div class="product col-12 lg:col-6 xl:col-4">
          <app-product></app-product>
        </div>
        <div class="product col-12 lg:col-6 xl:col-4">
          <app-product></app-product>
        </div>
        <div class="product col-12 lg:col-6 xl:col-4">
          <app-product></app-product>
        </div>
        <div class="product col-12 lg:col-6 xl:col-4">
          <app-product></app-product>
        </div>
        <div class="product col-12 lg:col-6 xl:col-4">
          <app-product></app-product>
        </div>
      </div>
    </div>
  </div>
</section>
