<section class="container">
  <header>
    <div class="title">
      <h2>Dué construções</h2>
    </div>
    <div class="buttons">
      <p-button label="Cadastre-se" (click)="redirectToRegister()"></p-button>
      <p-button label="Entre" (click)="redirectToLogin()"></p-button>
    </div>
  </header>

  <div class="grid list-product">
    <div></div>
  </div>
</section>
<!--<div class="product">-->
<!--  <label for="maleta-de-ferramentas"></label>-->
<!--  <img id="maleta-de-ferramentas" src="https://img.lojadomecanico.com.br/IMAGENS/46/448/184915/1626114871590.JPG" alt="maleta1">-->
<!--</div>-->

