<p-card>
  <div class="menu">
    <div class="grid">
      <div class="container">
        <div class="title">
          <div class="col-12">
            <h4>FILTROS</h4>
          </div>
        </div>
        <div class="categories">
          <div class="col-12">
            <h4>Categoria:</h4>
            <form [formGroup]="formGroup">
              <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" formControlName="selectedNodes"
                            [options]="nodes" placeholder="Select Item"></p-treeSelect>
            </form>
          </div>
        </div>
        <div class="avaliação">
          <div class="col-12">
            <h4>Avaliação do produto:</h4>
            <p-rating [(ngModel)]="avaliacao" [cancel]="false"></p-rating>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-card>
