
.menu {
  width: 15vw;


  .container {
    width: 20vw;
    height: 85vh;
    border-radius: 5px;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
}
