<section class="container">
  <p-card>
    <div class="content">
      <h3>Login</h3>
      <form [formGroup]="form" class="formUser">
        <div class="grid p-fluid">
          <div class="col-12">
            <div class="p-inputgroup input">
          <span class="p-float-label">
            <input
              type="text"
              formControlName="email"
              id="email"
              pInputText
            >
            <label for="email">Email</label>
          </span>
            </div>
          </div>
          <div class="col-12">
            <div class="p-inputgroup input">
          <span class="p-float-label">
            <input
              type="text"
              formControlName="password"
              id="password"
              pInputText
            >
            <label for="password">Password</label>
          </span>
            </div>
          </div>
        </div>
      </form>
      <p-button label="login" class="button" (click)="redirectToHome()"></p-button>
      <h5>Caso não tenha acesso, <a [routerLink]="['/register']">cadastre-se</a></h5>
      <!--    <p-button label="Register" (click)="redirectToRegister()"></p-button>-->
    </div>
  </p-card>
</section>
