.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: snow;

  .content {
    //max-width: 60vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    .input {
      margin-bottom: 5px;
    }
  }
}

h3 {
  color: indigo;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0;
}
