<section class="container">
  <p-card>
    <p-toast></p-toast>
    <div class="content">
      <form [formGroup]="formUser" class="formUser">
        <h3>Dados pessoais</h3>
        <div class="grid p-fluid">
          <div class="col-6">
            <div class="p-inputgroup input">
          <span class="p-float-label">
            <input
              type="text"
              formControlName="name"
              id="name"
              pInputText
            >
            <label for="name">Nome do usuário</label>
          </span>
            </div>
          </div>

          <div class="col-6">
            <div class="p-inputgroup input">
          <span class="p-float-label">
            <input
              type="text"
              formControlName="email"
              id="email"
              pInputText
            >
            <label for="email">Email</label>
          </span>
            </div>
          </div>

          <div class="col-6">
            <div class="p-inputgroup input">
          <span class="p-float-label">
            <input
              type="text"
              formControlName="password"
              id="password"
              pInputText
            >
            <label for="password">Senha</label>
          </span>
            </div>
          </div>

          <div class="col-6">
            <div class="p-inputgroup input">
          <span class="p-float-label">
            <input
              type="text"
              formControlName="confirmPassword"
              id="confirmPassword"
              pInputText
            >
            <label for="confirmPassword">Confirme sua senha</label>
          </span>
            </div>
          </div>
        </div>
      </form>
      <form [formGroup]="formAddressUser" class="formAddressUser">
        <h3>Endereço</h3>
        <div class="grid p-fluid">

          <div class="col-6">
            <div class="p-inputgroup input">
         <span class="p-float-label">
            <input
              type="text"
              formControlName="cep"
              id="cep"
              pInputText
              (focusout)="cep()"
            >
            <label for="cep">CEP</label>
          </span>
            </div>
          </div>

          <div class="col-6">
            <div class="p-inputgroup input">
          <span class="p-float-label">
            <input
              type="text"
              formControlName="city"
              id="city"
              pInputText
            >
            <label for="city">Cidade</label>
          </span>
            </div>
          </div>

          <div class="col-9">
            <div class="p-inputgroup input">
          <span class="p-float-label">
            <input
              type="text"
              formControlName="complement"
              id="complement"
              pInputText
            >
            <label for="complement">Complemento</label>
          </span>
            </div>
          </div>

          <div class="col-3">
            <div class="p-inputgroup input">
          <span class="p-float-label">
            <input
              type="text"
              formControlName="houseNumber"
              id="houseNumber"
              pInputText
            >
            <label for="houseNumber">N°</label>
          </span>
            </div>
          </div>

        </div>
      </form>
      <p-button label="Cadastrar" (click)="register()"></p-button>
      <br>
      <h5>Caso já tenha acesso, <a [routerLink]="['/login']">entre</a></h5>
    </div>
  </p-card>
</section>
