.content {
  display: flex;

  .img_product {
    display: flex;
    justify-content: center;
    height: 10vw;
  }
  .description_product {
    display: flex;
    justify-content: center;
  }
  .price {
    display: flex;
    justify-content: center;
  }
}
